
<main>
    <div class="text-center container rounded-lg">
        <div class="row justify-content-center flex-column align-items-center">
            <img src="assets/img/LogoWoody.jpg" alt="" class="logo p-0 mb-3">
            <div class="col-5 shadow card align-items-center p-3">
                <h1 class="display-3"><strong>Glit-Ch</strong></h1>
                <strong> Simplifiez la gestion de votre internat avec notre plateforme intuitive et efficace.</strong>
            </div>
        </div>
    </div>
</main>
